{
  "openapi": "3.0.3",
  "info": {
    "title": "Google Search API",
    "description": "High-performance distributed Google Web Search API running via a managed browser pool.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://services.ufone-claim.site",
      "description": "Production Server"
    }
  ],
  "paths": {
    "/api/browser/search": {
      "post": {
        "summary": "Google Web Search",
        "description": "Performs a Google web search using either the distributed browser pool, local Chromium CDP connection, or SeleniumBase backup.",
        "operationId": "googleSearch",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "text": {
                    "type": "string",
                    "description": "The search query query string.",
                    "example": "kalia"
                  },
                  "pageNumber": {
                    "type": "integer",
                    "description": "The results page number (multiplies by 10 internally for the start index).",
                    "default": 1,
                    "example": 1
                  },
                  "engine": {
                    "type": "string",
                    "description": "The browser runner/engine mode to execute the search request.",
                    "enum": ["auto", "pool", "cdp", "selenium"],
                    "default": "auto",
                    "example": "auto"
                  },
                  "includeAI": {
                    "type": "boolean",
                    "description": "Whether to extract and include Google's AI Overview or featured snippets in the response.",
                    "default": false,
                    "example": false
                  }
                },
                "required": ["text"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "organic": {
                      "type": "array",
                      "description": "The list of standard organic Google search results.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "title": {
                            "type": "string",
                            "description": "The title of the search result card.",
                            "example": "Bathroom, kitchen, fittings, unique design - Kalia"
                          },
                          "link": {
                            "type": "string",
                            "description": "The absolute URL link of the search result card.",
                            "example": "https://www.kaliastyle.com/us_en/"
                          },
                          "snippet": {
                            "type": "string",
                            "description": "The summary snippet shown on the Google search page.",
                            "example": ""
                          }
                        }
                      }
                    },
                    "aiResponse": {
                      "type": "string",
                      "nullable": true,
                      "description": "The raw HTML or plain text of the Google AI Overview or featured snippet card.",
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. Required fields missing or invalid data.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "text is required"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable. No browsers available in the pool or all search engines failed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "No browsers available in pool"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
